

.flex-container > div {
    /* background-color: yellow; */
}

#frank {
    /* flex-grow: 1;
    flex-basis: 100px;
    flex-shrink: 0; */
    /* flex: 1 0 100px; */
    align-self: flex-end;
    background-color: yellow;
}

#robert {
    flex-grow: 1;
    background-color: lightblue;
    align-self: flex-end;
}

#sandra {
    flex-grow: 6;
    background-color: plum;
}

#woody {
    flex-grow: 2;
    background-color: bisque;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.grid-container > div {
    padding: 10px;
}

#one {
    background-color: blanchedalmond;
}

#two {
    background-color: aqua;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-row: 2 / -1;
    grid-column: 2 / 3;
}

#three {
    background-color: blueviolet;
}

#four {
    background-color: burlywood;
}

#five {
    background-color: azure;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

#six {
    background-color: coral;
}